version: "3.3"

services:
  auth:
    build:
      context: .
      dockerfile: build/auth.Dockerfile
    ports:
      - "8010:8010"
      - "8011:8011"
    volumes:
      - type: bind
        source: /var/log
        target: /var/log
    deploy:
      replicas: 1
      mode: replicated
      restart_policy:
        condition: on-failure

  user:
    build:
      context: .
      dockerfile: build/user.Dockerfile
    ports:
      - "8020:8020"
      - "8021:8021"
    volumes:
      - type: bind
        source: /home/ubuntu/frontend/2023_1_4from5/public/images/user
        target: /images
      - type: bind
        source: /var/log
        target: /var/log
    deploy:
      replicas: 1
      mode: replicated
      restart_policy:
        condition: on-failure


  creator:
    build:
      context: .
      dockerfile: build/creator.Dockerfile
    ports:
      - "8030:8030"
      - "8031:8031"
    volumes:
      - type: bind
        source: /home/ubuntu/frontend/2023_1_4from5/public/images/user
        target: /images
      - type: bind
        source: /var/log
        target: /var/log
    deploy:
      replicas: 1
      mode: replicated
      restart_policy:
        condition: on-failure

  postgres:
    image: postgres:14
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - type: bind
        source: /home/ubuntu/db_data
        target: /var/lib/postgresql/data
      - type: bind
        source: /usr/share/postgresql/14/tsearch_data
        target: /usr/share/postgresql/14/tsearch_data

  main:
    depends_on:
      - postgres
      - auth
      - user
      - creator
    build:
      context: .
      dockerfile: build/main.Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - type: bind
        source: /home/ubuntu/frontend/2023_1_4from5/public/images/user
        target: /images
      - type: bind
        source: /var/log
        target: /var/log


  prometheus:
    depends_on:
      - main
    image: prom/prometheus:latest
    volumes:
      - type: bind
        source: /home/ubuntu/backend/2023_1_4from5/prometheus.yml
        target: /etc/prometheus/prometheus.yml
      - type: bind
        source: /home/ubuntu/prometheus-data
        target: /prometheus
    ports:
      - "9090:9090"

  node-exporter:
    depends_on:
      - prometheus
    image: prom/node-exporter:latest
    ports:
      - "9100:9100"


  grafana:
    depends_on:
      - prometheus
    image: grafana/grafana-oss:latest
    volumes:
      - type: bind
        source: /home/ubuntu/grafana-data
        target: /var/lib/grafana
    ports:
      - "3000:3000"
